{extends $originalTemplate}

{block table-class}table table-hover table-striped table-bordered{/block}

{block inlineAddRow}
    {if $inlineAdd->shouldBeRendered()}
        {php $inlineAdd->onSetDefaults($filter['inline_add']) }

        <tr class="datagrid-row-inline-add datagrid-row-inline-add-hidden">
            <td n:if="$hasGroupActions" class="col-checkbox"></td>

            {foreach $columns as $key => $column}
                {var $col = 'col-' . $key}

                {var $td = clone $column->getElementForRender('td', $key)}
                {var $td->class[] = 'datagrid-inline-edit'}
                {$td->startTag()|noescape}
                <div class="form-group position-relative form-group-table">
                    {if isset($filter['inline_add'][$key])}
                        {if $filter['inline_add'][$key] instanceof \Nette\Forms\Container}
                            {foreach $filter['inline_add'][$key]->getControls() as $inlineAddControl}
                                {input $inlineAddControl}
                            {/foreach}
                        {else}
                            {input $filter['inline_add'][$key]}
                        {/if}
                    {/if}
                </div>
                {$td->endTag()|noescape}
            {/foreach}

            <td class="col-action col-action-inline-edit">
                {input $filter['inline_add']['cancel']}
                {input $filter['inline_add']['submit']}
            </td>
        </tr>
    {/if}
{/block}

{block header-filters}
    <tr n:if="!empty($filters) && !$control->hasOuterFilterRendering()">
		{foreach $columns as $key => $column}
			{var $th = $column->getElementForRender('th', $key)}
			{$th->startTag()|noescape}
			{var $col_header = 'col-filter-' . $key . '-header'}
			{if !$control->hasOuterFilterRendering() && isset($filters[$key])}
				{var $i = $filter['filter'][$key]}

				{var $filter_block = 'filter-' . $filters[$key]->getKey()}
				{var $filter_type_block = 'filtertype-' . $filters[$key]->getType()}

				{ifset #$filter_block}
					{include #$filter_block, filter => $filters[$key], input => $i, outer => FALSE}
				{else}
					{ifset #$filter_type_block}
						{include #$filter_type_block, filter => $filters[$key], input => $i, outer => FALSE}
					{else}
						{include $filters[$key]->getTemplate(), filter => $filters[$key], input => $i, outer => FALSE}
					{/ifset}
				{/ifset}

			{/if}
			{$th->endTag()|noescape}
		{/foreach}
		<th n:if="$actions || $control->isSortable() || $itemsDetail || $inlineEdit || $inlineAdd" class="col-action text-center">
			{if !$control->hasAutoSubmit() && !$control->hasOuterFilterRendering()}
				{input $filter['filter']['submit']}
			{/if}
		</th>
	</tr>
{/block}

{block tbody}
    <tbody n:snippet="tbody" {if $control->isSortable()}data-sortable data-sortable-url="{$control->getSortableHandler()}" data-sortable-parent-path="{$control->getSortableParentPath()}"{/}>
    {snippetArea items}
        {if $inlineAdd && $inlineAdd->isPositionTop()}
            {include inlineAddRow, columns => $columns}
        {/if}

        {if $columnsSummary && $columnsSummary->getPositionTop()}
            {include columnSummary}
        {/if}

        {foreach $rows as $row}
            {var $item = $row->getItem()}

            {if !isset($toggle_detail)}
                {if $inlineEdit && $inlineEdit->getItemId() == $row->getId()}
                    {php $inlineEdit->onSetDefaults($filter['inline_edit'], $item) }

                    <tr data-id="{$row->getId()}" n:snippet="item-{$row->getId()}" n:attr="$row->getControl()->attrs">
                        <td n:if="$hasGroupActions" class="col-checkbox"></td>

                        {foreach $columns as $key => $column}
                            {var $col = 'col-' . $key}

                            {var $td = $column->getElementForRender('td', $key, $row)}
                            {var $td->class[] = 'datagrid-inline-edit'}
                            {$td->startTag()|noescape}
                            {if isset($filter['inline_edit'][$key])}
                                {if $filter['inline_edit'][$key] instanceof \Nette\Forms\Container}
                                    {foreach $filter['inline_edit'][$key]->getControls() as $inlineEditControl}
                                        {input $inlineEditControl}
                                    {/foreach}
                                {else}
                                    {input $filter['inline_edit'][$key]}
                                {/if}
                            {elseif $inlineEdit->showNonEditingColumns()}
                                {include column-value, column => $column, row => $row, key => $key}
                            {/if}
                            {$td->endTag()|noescape}
                        {/foreach}

                        <td class="col-action col-action-inline-edit">
                            {input $filter['inline_edit']['cancel'], class => 'btn btn-xs btn-danger'}
                            {input $filter['inline_edit']['submit'], class => 'btn btn-xs btn-primary'}
                            {input $filter['inline_edit']['_id']}
                            {input $filter['inline_edit']['_primary_where_column']}
                        </td>
                    </tr>
                {else}
                    <tr data-id="{$row->getId()}" n:snippet="item-{$row->getId()}" n:attr="$row->getControl()->attrs">
                        <td n:if="$hasGroupActions" class="col-checkbox">
                            {if $row->hasGroupAction()}
                                <input n:class="$control->shouldUseHappyComponents() ? 'happy gray-border' , primary" type="checkbox" data-check="{$control->getFullName()}" data-check-all-{$control->getFullName()|noescape} name="{$control->getFullName()|lower}_group_action_item[{$row->getId()}]">
                            {/if}
                        </td>
                        {foreach $columns as $key => $column}
                            {php $column = $row->applyColumnCallback($key, clone $column)}

                            {var $td = $column->getElementForRender('td', $key, $row)}
                            {$td->startTag()|noescape}
                            {include column-value, column => $column, row => $row, key => $key}
                            {$td->endTag()|noescape}
                        {/foreach}
                        <td n:if="$actions || $control->isSortable() || $itemsDetail || $inlineEdit || $inlineAdd" class="col-action">
                            {foreach $actions as $key => $action}
                                {if $row->hasAction($key)}
                                    {if $action->hasTemplate()}
                                        {include $action->getTemplate(), item => $item, (expand) $action->getTemplateVariables(), row => $row}
                                    {else}
                                        {$action->render($row)|noescape}
                                    {/if}
                                {/if}
                            {/foreach}
                            <span class="handle-sort btn btn-xs btn-outline-primary" n:if="$control->isSortable()">
												<i n:block="icon-arrows-v" class="{$iconPrefix}arrows-v {$iconPrefix}arrows-alt-v"></i>
											</span>
                            {if $inlineEdit && $row->hasInlineEdit()}
                                {$inlineEdit->renderButton($row)|noescape}
                            {/if}
                            {if $itemsDetail && $itemsDetail->shouldBeRendered($row)}
                                {$itemsDetail->renderButton($row)|noescape}
                            {/if}
                        </td>
                    </tr>
                {/if}
            {/if}

            {**
             * Item detail
             *}
            {if $itemsDetail && $itemsDetail->shouldBeRendered($row)}
                <tr class="row-item-detail item-detail-{$control->getFullname()}-id-{$row->getId()}" n:snippet="item-{$row->getId()}-detail">
                    {if isset($toggle_detail) && $toggle_detail == $row->getId()}
                        {var $item_detail_params = ['item' => $item, '_form' => $filter] + $itemsDetail->getTemplateVariables()}

                        {if isset($filter['itemsDetail_form'])}
                            {var $item_detail_params['itemsDetail_form'] = $filter['itemsDetail_form']}
                        {/if}

                        {ifset #detail}
                            <td colspan="{$control->getColumnsCount()}">
                                <div class="item-detail-content">
                                    {include #detail, (expand) $item_detail_params}
                                </div>
                            </td>
                        {elseif $itemsDetail}
                            <td colspan="{$control->getColumnsCount()}">
                                <div class="item-detail-content">
                                    {if $itemsDetail->getType() == 'template'}
                                        {include $itemsDetail->getTemplate(), (expand) $item_detail_params}
                                    {else}
                                        {$itemsDetail->render($item)|noescape}
                                    {/if}
                                </div>
                            </td>
                        {/ifset}
                    {/if}
                </tr>
                <tr class="row-item-detail-helper"></tr>
            {/if}
        {/foreach}

        {if $inlineAdd && $inlineAdd->isPositionBottom()}
            {include inlineAddRow, columns => $columns}
        {/if}

        {if ($columnsSummary && !$columnsSummary->getPositionTop()) || $control->hasSomeAggregationFunction()}
            {include columnSummary}
        {/if}

        {block noItems}
            <tr n:if="!$rows">
                <td colspan="{$control->getColumnsCount()}">
                    {if $filter_active}
                        {='ublaboo_datagrid.no_item_found_reset'|translate} <a class="link ajax" n:href="resetFilter!">{='ublaboo_datagrid.here'|translate}</a>.
                    {else}
                        {='ublaboo_datagrid.no_item_found'|translate}
                    {/if}
                </td>
            </tr>
        {/block}
    {/snippetArea}
    </tbody>
{/block}

{block tfoot}
	<tfoot n:snippet="pagination">
		{if $control->isPaginated() || $filter_active}
			<tr n:block="pagination">
				<td colspan="{$control->getColumnsCount()}" n:if="!$control->isTreeView()" class="row-grid-bottom">
					<div class="col-items">
						<small class="text-muted" n:if="$control->isPaginated()">
							({var $paginator = $control['paginator']->getPaginator()}

							{if $control->getPerPage() === 'all'}
								{='ublaboo_datagrid.items'|translate}: {='ublaboo_datagrid.all'|translate}
							{else}
								{='ublaboo_datagrid.items'|translate}: {$paginator->getOffset() > 0 ? $paginator->getOffset() + 1 : ($paginator->getItemCount() > 0 ? 1 : 0)} - {sizeof($rows) + $paginator->getOffset()}
								{='ublaboo_datagrid.from'|translate} {$paginator->getItemCount()}
							{/if})
						</small>
					</div>
					<div class="col-pagination text-center">
						{control paginator}
					</div>
					<div class="col-per-page text-right">
						<a n:if="$filter_active" n:href="resetFilter!" class="ajax btn btn-danger btn-sm reset-filter">{='ublaboo_datagrid.reset_filter'|translate}</a>
						{if $control->isPaginated()}
							{input $filter['perPage'], data-autosubmit-per-page => TRUE, class => 'form-select form-select-sm'}
							{input $filter['perPage_submit'], class => 'datagrid-per-page-submit'}
						{/if}
					</div>
				</td>
			</tr>
		{/if}
	</tfoot>
{/block}

{block outer-filters}
    <div class="row text-right datagrid-collapse-filters-button-row" n:if="$control->hasCollapsibleOuterFilters()">
        <div class="col-sm-12">
            <button class="btn btn-xs btn-primary" type="button" data-toggle="collapse" data-target="#datagrid-{$control->getFullName()}-row-filters">
                <i n:block="icon-filter" class="{$iconPrefix}filter"></i> {='ublaboo_datagrid.show_filter'|translate}
            </button>
        </div>
    </div>

    {if $control->hasCollapsibleOuterFilters() && !$filter_active}
        {var $filter_row_class = 'row-filters collapse'}
    {elseif $filter_active}
        {var $filter_row_class = 'row-filters collapse in show'}
    {else}
        {var $filter_row_class = 'row-filters'}
    {/if}
    <div class="{$filter_row_class}" id="datagrid-{$control->getFullName()}-row-filters">
        <div class="row">
            {var $i = 0}
            {var $filterColumnsClass = 'col-sm-6 col-lg-' . (12 / $control->getOuterFilterColumnsCount())}
            <div n:class="datagrid-row-outer-filters-group, count($filters) < 2 ? col-12 : $filterColumnsClass" n:foreach="$filters as $f">
                {**
                 * Each fitler is rendered separately in its own template
                 *}
                {var $filter_block = 'filter-' . $f->getKey()}
                {var $filter_type_block = 'filtertype-' . $f->getType()}

                {ifset #$filter_block}
                    {include #$filter_block, filter => $f, input => $form['filter'][$f->getKey()], outer => TRUE}
                {else}
                    {ifset #$filter_type_block}
                        {include #$filter_type_block, filter => $f, input => $form['filter'][$f->getKey()], outer => TRUE}
                    {else}
                        {include $f->getTemplate(), filter => $f, input => $form['filter'][$f->getKey()], outer => TRUE}
                    {/ifset}
                {/ifset}
                {var $i = $i+1}
            </div>
            <div class="col-sm-12" n:if="!$control->hasAutoSubmit()">
                <div class="text-right datagrid-manual-submit">
                    {input $filter['filter']['submit']}
                </div>
            </div>
        </div>
    </div>
{/block}