{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\TextInput $input
 *}

{if $input instanceof Nette\Forms\Controls\SelectBox}
    {var $class = 'form-select' . ($outer ?: ' form-select-sm')}
{else}
    {var $class = 'form-control' . ($outer ?: ' form-control-sm')}
{/if}

{*dump [$outer, $class]*}

{if $outer}
    <div class="row">
        <div class="col-12">
            {label $input class => 'control-label' /}
            {input $input class => $class}
        </div>
    </div>
{else}
    {input $input class => $class}
{/if}
